//------------------------------
// *****************************
// Global Variables
// *****************************
//------------------------------

//------------------------------
// Paths
//------------------------------

$icon-font-path :  "fonts/bootstrap/";
$custom-font-path: "fonts/";
$roboto-font-path: "roboto/";
$opensans-font-path: "opensans/";


//------------------------------
// Fonts
//------------------------------

$font-family-roboto:                          "robotoregular", sans-serif;
$font-family-roboto-bold:                     "robotobold", sans-serif;
$font-family-roboto-light:                    "robotolight", sans-serif;
$font-family-roboto-thin:                     "robotothin", sans-serif;
$font-family-roboto-italic:                   "robotoitalic", sans-serif;
$font-family-roboto-black:                    "robotoblack", sans-serif;
$font-family-roboto-bold-italic:              "robotobold_italic", sans-serif;
$font-family-roboto-medium:                   "robotomedium", sans-serif;
$font-family-roboto-black-italic:             "robotoblack_italic", sans-serif;
$font-family-roboto-medium-italic:            "robotomedium_italic", sans-serif;
$font-family-roboto-light-italic:             "robotolight_italic", sans-serif;
$font-family-roboto-thin-italic:              "robotothin_italic", sans-serif;
$font-family-roboto-condense-light:           "roboto_condensedlight", sans-serif;
$font-family-roboto-condense-bold-italic:     "roboto_condensedbold_italic", sans-serif;
$font-family-roboto-condense-bold:            "roboto_condensedbold", sans-serif;
$font-family-roboto-condense-italic:          "roboto_condenseditalic", sans-serif;
$font-family-roboto-condense-light-italic:    "roboto_condensedlight_italic", sans-serif;
$font-family-roboto-condense-regular:         "roboto_condensedregular", sans-serif;

$font-family-open-sans:         "open_sansregular", sans-serif;



$orangeHighlight: #F6764E;
$greyBackground: #32383E;

$status-color-1: #777777;
$status-color-2: #6C8FB4;
$status-color-3: #9A59B5;
$status-color-4: #3898DB;
$status-color-5: #23BC9C;
$status-color-6: #FFC54A;
$status-color-7: #F5764E;
$status-color-8: #A60D05;
$status-color-9: #818B16;
$status-color-10: #34CC73;

$zindex-tooltip: 1060;
