<div class="scrumdo-panel primary"
     sd-access
     data-release-id="{{release.id}}"
     data-container-type="release-container">
    <div class="scrumdo-panel-heading" role="tab" id="headingOne">
        <h4 class="scrumdo-panel-title pull-left" ng-click="ctrl.toggleExpanded()">
            <a ng-class="{collapsed:!ctrl.isExpanded}" data-toggle="collapse"  aria-expanded="true" aria-controls="IterationOne">
                {{release.summary|htmlToPlaintext}}
            </a>
        </h4>
        <div class="dropdown pull-right" uib-dropdown ng-if="canWrite">
            <button uib-dropdown-toggle class="scrumdo-btn primary medium" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class=" glyphicon glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dLabel">
                <li><a ng-click="ctrl.addCard()">Add card</a></li>
                <li><a ng-if="ctrl.isExpanded" ng-click="ctrl.selectAll()">Select All Cards</a></li>
                <li><a ng-if="ctrl.isExpanded" ng-click="ctrl.selectNone()">Select None</a></li>
                <li><a ng-if="ctrl.userService.isOrgStaff()" ng-click="ctrl.editRelease()">Edit Release</a></li>
                <li><a ng-if="ctrl.userService.isOrgStaff()" ng-href="/organization/{{ctrl.organizationSlug}}/planning#/releases/release/{{release.id}}/"><i class="fa fa-link"></i> Release Page</a></li>
            </ul>
        </div>

        <div class="epic-progress">
            <uib-progress max="100" animate="false">
                <uib-bar value="ctrl.percentage(stats.cards_completed, stats.cards_total)" type="success"></uib-bar>
                <uib-bar value="ctrl.percentage(stats.cards_in_progress, stats.cards_total)"></uib-bar>
            </uib-progress>
        </div>
    </div>
    <div uib-collapse="!ctrl.isExpanded" id="IterationOne" class="scrumdo-panel-collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="scrumdo-panel-body">
            <div class="column-summary" ng-if="ctrl.stories.length">
                <div class="column-summary-stat"><span class="stat-num">{{stats.cards_total}}</span> Cards</div>
                <div class="column-summary-stat" ng-if="ctrl.totalPoints"><span class="stat-num">{{stats.points_total|setDecimal:2}}</span> Points</div>
                <div class="column-summary-stat" ng-if="ctrl.totalMinutes"><span class="stat-num">{{ctrl.totalMinutes|formatMinutes}}</span> Estimated Time</div>
                <div class="column-summary-stat" ng-if="ctrl.businessValue"><span class="stat-num">{{ctrl.businessValue|number:2}}</span> Business Value</div>

            </div>
            <ul class="kanban-story-list"
                data-release-id="{{release.id}}"
                data-container-type="release-story-list">
                <sd-story story-context-menu  planning-mode="'epic'"
                           story="story"
                           project="project"
                           epics="epics"
                           iterations="iterations"
                           layout="cardSize"
                           ng-repeat="story in ctrl.stories|orderBy:ctrl.sortOrder"></sd-story>
            </ul>
        </div>
    </div>
</div>