//------------------------------
// *****************************
// Planning
// *****************************
//------------------------------

.scrumdo-reports-wrapper {

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f6f6f6;
  border-top: 1px solid #e3e3e3;

  -webkit-transition: right 0.3s ease-out;
  -moz-transition: right 0.3s ease-out;
  -o-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out;

  .axis {
    font-family: $font-family-roboto;
    fill: #333;
    line {
      stroke: #333;
    }
    font-size: 12px;
  }

  .saved-reports-explanation {
    margin-top: 30px;
  }


  .panel-body {
    background-color: #ffffff;
  }

  .report-options {
    label {
      margin-top: 5px;
      font-weight: normal;
      font-family: $font-family-roboto;
    }
    select {
      margin-bottom: 15px;
    }

  }

  .save-report-button {
    position: absolute;
    bottom: 5px;
    right: 25px;
    opacity: 0.7;
  }

  .report-options {
    ul {
      padding-left: 0px;
      li {
        list-style: none;
        padding: 3px;
        &:hover {
          background-color: #fafafa;
        }
      }
    }
  }

  .save-report-button:hover {
    opacity: 1;
  }


}



.scrumdo-reports-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
}

.scrumdo-reports-header {
  padding: 10px 15px;
  border-bottom: 1px solid #dbdbdb;
}

.scrumdo-reports-content {
  padding: 0 15px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 55px;
  overflow-y: hidden;

}

.scrumdo-reports-info {
  padding: 15px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  min-height: 400px;
}

.reports-area {
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
  background-color: #ffffff;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 253px;

  
  .reports-locked{
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
  }
}

.reports-navigation {

  overflow-y: auto;

  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  width: 264px;

  .report-selector {
    border-bottom: 1px solid #eeeeee;
  }

  .report-picker {
    width: 100%;
    font-family: $font-family-roboto-bold;
    font-size: 16px;
  }

  >div {
    padding: 10px 18px;
    margin-top: 5px;
    .report-name {
      display: none;
      font-family: $font-family-roboto-bold;
      font-size: 16px;
    }
  }

  .panel {
    border: none;
    box-shadow: none;
    background: none;
  }

  .panel-group {
    padding: 0;
    margin: 0;

    .panel-body {
      border: none;
      border-top: none !important;
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
    }

    .panel-heading {
      border: none;
      background: none;
      border-bottom: 1px solid #eeeeee;
      padding: 0px;

      a.report-option {
        position: relative;
        display: block;
        height: 50px;
        line-height: 50px;
        font-family: $font-family-roboto-medium;
        color: #aaaaaa;
        font-size: 14px;
        padding: 0 20px;

        &:hover, &:focus, &.active {
          text-decoration: none;
          color: #3b3b3b;

          &:after, &:before {
            position: absolute;
            right: -1px;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            pointer-events: none;
            z-index: 10;
          }

          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-right-color: #ffffff;
            border-width: 13px;
            margin-top: -13px;
          }
          &:before {
            border-color: rgba(194, 225, 245, 0);
            border-right-color: #f3f3f3;
            border-width: 15px;
            margin-top: -15px;
          }
        }
      }
    }
  }

}



svg.report {

  .lead-bar {
    fill: $orangeHighlight; //#1D93DF;
  }

  .ideal-line {
    fill: none;
    stroke: #32383E;
    stroke-width: 1px;
    opacity: 0.5;
    shape-rendering: crispEdges;

  }
  .total-line {
    fill: none;
    stroke: #3B98DB;
    stroke-width: 2px;
  }

  .completed-line {
    fill: none;
    stroke: #39CC74;
    stroke-width: 2px;
  }

  .report-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .line-axis, .axis {
    shape-rendering: crispEdges;
  }

  .fit-line {
    fill: none;
    stroke: #555;
  }

  .line-axis, .x.axis line, .x.axis path {
    fill: none;
    stroke: #000;
  }

  .median-line {
    stroke: #FF7F0E;
  }
  .mean-line {
    stroke: #8DC73E;
  }

  .median-line, .mean-line {

    // opacity: 0.5;
    stroke-width: 2;
    fill: none;
    // shape-rendering: crispEdges;
  }

  .drag-horiz, .drag-vert {
    stroke: #000;
    fill: none;
    stroke-width: 1;
  }
  .drag-hypo {
    stroke: $orangeHighlight;
    stroke-dasharray: 2,2;
    fill: none;
    stroke-width: 1;
  }

  .grid-line {
    stroke: #000;
    opacity: 0.05;
    fill: none;
    shape-rendering: crispEdges;
  }

  .data-point {
    stroke: #999;
    fill: #fff;
    opacity: 0.4;
    // shape-rendering: crispEdges;
  }


  .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
  }
  
  .blocker-group{
    stroke:#f6764e; 
  }
  .blocker-reason-bg{
    fill:#f6764e;
    opacity: 0.9;
  }
  .blocker-reason{
    font-size: 12px;
    fill:#fff;
    text-transform: capitalize;
    .days{
      font-weight: bold;
    }
  }
  
  &.blockers{
    .external-legend{
      fill:#f26522;
      cursor: pointer;
    }
    .internal-legend{
      fill:#1425f5;
      cursor: pointer;
    }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  max-width: 300px;
  font-size: 12px;
  z-index: 1060;
  span{
    color:#fff;
  }
  &:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.blocker-report-cards{
  width: 90%;
  margin: 0 5% 0 5%;
}

.saved-report-window {
  .modal-content {
    background-color: #ffffff;
  }
}

div.tooltip {
  position: absolute; 
  text-align: center; 
  max-width: 300px;
  padding: 6px;
  background: #000; 
  border: 0px;          
  border-radius: 2px; 
  color: #fff; 
  ul {
    display: block;
    margin: 0;
    padding-left: 0;
    padding-top: 4px;
    font-size: 0;
    li {
      display: inline;
      padding: 2px;
      a {
        color: #fff;
        font-size: 10px;
        font-weight: 400;
      }

      &:nth-child(6n) {
        &:after {
          content:'\A';
          white-space: pre;
        }
      }
    }
  }
}