//------------------------------
// *****************************
// Scrumdo Timeline
// *****************************
//------------------------------
@import "compass/css3";
@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-20px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}
.project-page{
  .subscribe-alert{
    .scrumdo-timeline{
      top: 195px;
      .dateless{
        .increment-detail{
          .top-header{
            top: 196px !important;
          }
        }
      }
    }
  }
}
.scrumdo-timeline{
  overflow: hidden;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 140px;
  bottom: 0px;
  .scrumdo-sidebar{
    border-top: 1px solid #dcdcdc;
    .scrumdo-navigation{
      background: #f6f6f6;
      .scrumdo-navigation-menu{
        > ul{

          li{
            border: none;
          }
          ul{
            margin: 0;
            li{
              border-bottom: 1px solid #dadada;
              &:nth-child(2){
                border-top: 1px solid #dadada;
              }
              .edit-itertion{
                display: none;
                padding: 0 0 0 10px;
                margin: 0;
              }
              &:hover{
                .edit-itertion{
                  display: inline-block;
                }
              }
              .glyphicon-folder-close{
                margin-right: 5px;
              }
            }
            .increment-name{
              font-weight: bold;
              font-style: italic;
              border:none;
              padding: 5px 0 5px 5px;
            }
          }
        }
      }
      .scrumdo-navigation-menu-form{
        padding: 10px 0 10px 10px;
        .labels{
          color: #979797;
          font-weight: 400;
          font-size: 15px;
          padding: 1px 4px;
          vertical-align: top;
          .scrumdo-icons{
            vertical-align: bottom;
            width: 12px;
          }
        }
        .iteration-toggle{
          cursor: pointer;
        }
        .iteration-name{
          cursor: default;
        }
      }
    }
    .add-iteration{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .scrumdo-sidebar-text{
      width: 250px;
      left: -108px;
      top: 140px;
      text-align: right;
    }
    .iteration-name{
      font-weight: 400;
    }
  }
  .scrumdo-timeline-wrapper{
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 40px;
    background: #f6f6f6;
    overflow: auto;
    margin-top: 0px;
    border-top: 1px solid #dcdcdc;
    -webkit-transition: left 0.3s ease-out, right 0.3s ease-out;
    -moz-transition: left 0.3s ease-out, right 0.3s ease-out;
    -o-transition: left 0.3s ease-out, right 0.3s ease-out;
    transition: left 0.3s ease-out, right 0.3s ease-out;
    position: absolute;
    font-family: "robotoregular", sans-serif;
    &.navbar-open{
      right: 325px;
    }

    .timeline-scale{
      position: absolute;
      left: 0;
      top: 47px;
      width: 100%;
      background: #f6f6f6;
      z-index: 1;
      height: 50px;
      border-top: 5px solid #b4b4b4;
      
        .increment-start-point{
          position: absolute;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #fff;
          top: -9px;
          margin-left: -6px;
          border: 2px solid #b4b4b4;
          z-index: 2;
          &.active{
            border: 2px solid #f6764e;
          }
        }
        .increment-bottom-point{
          position: absolute;
          bottom: -13px;
          margin-left: -6px;
          font: 700 19px/1 FontAwesome;
          &:before{
            content: "\f107";
          }
        }
        .increment-date-display{
          position: absolute;
          top: -28px;
          margin-left: -5px;
          font-size: 13px;
          color: #666666;
          font-weight: 500;
          z-index: 2;
          &.current{
            background: #b4b4b4;
            color: #fff;
            font-size: 12px;
            top: -42px;
            padding: 0 4px;
          }
        }
        .current-increment-highlighter{
          position: absolute;
          top: -10px;
          width: 200px;
          height: 15px;
          background: #8c8c8c;
          opacity: 0.3;
          margin-left: -4px;
          border-radius: 10px 0 0 10px;
          z-index: 2;
          &.active{
            background: #f6764e;
          }
        }
        .connector-line{
          fill: none;
          stroke: #333;
          stroke-opacity: 1;
          stroke-width: 1px;
          &.active{
            stroke: #f6764e;
            stroke-width: 3px;
          }
        }
        .today-highlighter{
          position: absolute;
          top: -35px;
          color: #f6764e;
          font-size: 20px;
          z-index: 3;
          &.bounce {
            @include animation(bounce 2s infinite);
          }
        }
        .axis-lines{
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          height: 8px;
          z-index: 1;
          span{
            border-left: 1px solid #b4b4b4;
            height: 8px;
            float: left;
            width: 0px;
            margin-left: 70px;
          }
        }
    }
    .timeline-scroll-right{
      position: fixed;
      right: 50px;
      height: 100%;
      width: 50px;
      margin-top: 225px;
      z-index: 2;
      &.navbar-open{
        right: 340px;
      }
    }
    .timeline-scroll-left{
      position: fixed;
      left: 5px;
      height: 100%;
      width: 35px;
      margin-top: 225px;
      z-index: 2;
    }
    .no-data {
      width: 400px;
      margin: 0 auto;
    }

    .increment-wrapper{
      list-style: none;
      padding: 100px 0 0 20px;
      > li {
        display: table-cell;
        position: relative;
        border-left: 1px solid #b4b4b6;
        padding: 10px 20px 0 10px;
        color: #666666;
      }
      .increment-detail{
        width: 299px;
        max-width: 299px;
        .header{
          .iteration-name{
            font-weight: 700;
          }
          .cards-info{
            label{
              font-weight: 300;
              font-size: 13px;
            } 
            .sep{
              margin-left: -2px;
            }
            .total-points{
              color:#f6764e;
              margin-left: -2px;
            }
          }
          .go-to{
            display: block;
            clear: both;
            width: 108px;
            border: 1px solid #9f9ea3;
            font-size: 11px;
            font-weight: 700;
            color: #9f9ea3;
            padding: 0px 4px;
            border-radius: 2px;
            line-height: 18px;
            clear: both;
            &:hover{
              text-decoration: none;
            }
            .fa{
              font-size: 13px;
              font-weight: 700;
              margin: 0px 0 0 2px;
            }
          }
        }
        .sentiments{
          margin: 15px 0;
          span{
            font-size: 18px;
            font-weight: 700;
            color:#333;
            padding: 0 8px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
              background: #d7d7d7;
            }
          }
        }
      }
      .features-list{
        .add-card{
          a{
            height: 55px;
            padding: 12px 0px;
            border: 1px solid #b5b5b5;
            border-radius: 0;
            color: #b5b5b5;
            font-weight: 700;
            text-align: center;
            font-size: 12px;
            i{
              display: block;
            }
          }
        }
        .sectionheader{
          text-align: center;
          h5{
            border-bottom: 1px solid #b5b5b5;
            padding-bottom: 5px;
          }
        }
      }
      &.dateless{
        padding-top: 0px;
        > li{
          display: block;
          border-left: none;
          padding-left: 0;
        }
        .increment-detail{
          width: auto;
          max-width: none;
          .top-header{
            position: fixed;
            left: 10px;
            right: 50px;
            height: 85px;
            z-index: 2;
            top: 141px;
            background: #f6f6f6;
            padding-left: 15px;
            padding-top: 5px;
            right: 55px;
            border-bottom: 1px solid #d4d4d4;
            -webkit-transition: left 0.3s ease-out, right 0.3s ease-out;
            -moz-transition: left 0.3s ease-out, right 0.3s ease-out;
            -o-transition: left 0.3s ease-out, right 0.3s ease-out;
            transition: left 0.3s ease-out, right 0.3s ease-out;
            &.navbar-open{
              right: 340px;
            }
            .cards-info{
              margin-left: 30px;
            }
            .go-to{
              clear: both;
            }
          }
          .body{
            margin-top: 100px;
          }
          .sentiments{
            margin-top: 5px;
            margin-bottom: 25px;
            padding-left: 0;
          }
          .monthly-timeline{
            width: 100%;
            position: absolute;
            height: 4px;
            background: #b4b4b4;
            top: 112px;
            left: 0;
            .current-increment-highlighter{
              border-radius: 0;
              margin-left: 4px;
            }
            .increment-date-display{
              font-weight: 700;
              margin-left: 5px;
              top: -25px;
              &.current{
                top: -30px;
              }
            }
          }
          .features-list{
            .monthly-feature{
              margin: 0;
              border-left: 1px solid #b4b4b6;
              padding: 0px 10px 0 10px;
              display: table-cell;
              position: relative;
              .kanban-story-list{
                padding-top: 25px;
              }
              .feature-cards{
                width: 299px;
                max-width: 299px;
                .month-name{
                  font-weight: 700;
                  position: absolute;
                  top: -15px;
                  left: 0;
                  font-size: 13px;
                  border: none;
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}