<div frang-tree>
    <div class="scrumdo-panel primary"
         data-container-type="epic-container"
         data-epic-id="{{epic.id}}"
         data-iteration-id="{{backlogId}}"
         ng-controller="BacklogEpic"
         frang-tree-repeat="epic in boardProject.nestedEpics|filter:ctrl.filterEpic|orderBy:['archived','order']">
        <div class="scrumdo-panel-heading scrumdo-epic-heading"
             data-epic-id="{{epic.id}}"
             data-iteration-id="{{backlogId}}"
             data-skip-rank="true"
             data-container-type="epic-story-header"
             role="tab" id="headingOne">

            <i class="pull-right fa"
               ng-class="{'fa-toggle-on':epicCtrl.showStories, 'fa-toggle-off':!epicCtrl.showStories}"
               ng-if="!epicCtrl.collapsed"
               ng-model="epicCtrl.showStories"
               ng-change="epicCtrl.toggleShowStories()"
               uib-tooltip="Display Cards"
               tooltip-append-to-body="true"
               uib-btn-checkbox></i>

            <h4 class="scrumdo-panel-title pull-left">
                <a ng-click="epicCtrl.toggleCollapsed()"
                   ng-class="{collapsed:epicCtrl.collapsed}"
                   aria-expanded="true" aria-controls="collapseOne">
                    <i uib-tooltip="Archived" ng-if="epic.archived" class="glyphicon glyphicon-folder-close"></i>
                    #{{epic.number}} {{epic.summary}}
                </a>
            </h4>
        </div>
        <div uib-collapse="epicCtrl.collapsed"
             class="scrumdo-panel-collapse collapse"
             role="tabpanel"
             aria-labelledby="headingOne">
            <div class="scrumdo-panel-body">
                <ul class="kanban-story-list"
                    ng-if="!epicCtrl.collapsed && epicCtrl.showStories"
                    data-epic-id="{{epic.id}}"
                    data-iteration-id="{{backlogId}}"
                    data-container-type="epic-story-list" >
                    <sd-story planning-mode="epic"
                              story="story"
                              project="boardProject.project"
                              epics="epics"
                              layout="'list'"
                              ng-repeat="story in boardProject.backlogStories|filter:ctrl.filterStoryByEpic(epic)|orderBy:ctrl.sortOrder">
                    </sd-story>
                </ul>
                <div frang-tree-insert-children="epic.children|filter:ctrl.filterEpic|orderBy:'order'">
                </div>
            </div>
        </div>
    </div>
</div>