<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p class="welcome-text text-center">
                    Welcome! <br/>
                    This is your workspace Board.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="welcome-header text-center">
                    Lets get it set up.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button ng-click="ctrl.template()" type="button" class="scrumdo-btn primary extended">Choose a Template</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group recommended">
                            <button ng-click="ctrl.wizard()" type="button" class="animated animated-delayed pulse scrumdo-btn secondary extended">Board Wizard</button>
                            (Recommended)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button ng-click="ctrl.scratch()" type="button" class="scrumdo-btn primary extended">Start From Scratch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!--<a href="planning" class="welcome-link">Skip board creation. I want to plan my backlog.</a>-->
            </div>
        </div>
    </div>
</div>
