<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('canceled')" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Task #{{task.number}} {{ task.id }}</h3>
</div>

<form class="form" name="taskForm">

    <div class="modal-body edit-story-body task-edit-window">

        <div class="form-group">
            <label for="summary" ng-minlength="1">Summary:</label>
            <input id="summary" autocomplete="off" type="text" ng-model="task.summary" class="form-control" ng-required="true" />
        </div>

        <div class="form-group">
            <label for="assignee">Assignee:</label>

            <select class="form-control"
                    id="assignee"
                    ng-model="assignee"
                    ng-options="u.username as u|shortuser for u in project.members">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <sd-tags-box ng-model="ctrl.tasktags" tags="ctrl.tags"></sd-tags-box>
        </div>

        <label for="estimate">Estimate:</label>
        <div class="row">
            <div class="col-md-4">
                <sd-time-entry ng-model="task.estimated_minutes"></sd-time-entry>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-if="task.id" class="scrumdo-btn primary pull-left" ng-click="ctrl.confirmDelete()">Delete</button>
        <button type="button" ng-if="task.id && taskForm.$pristine" class="scrumdo-btn primary pull-left" ng-click="ctrl.convertToCard()">Convert to Card</button>
        <button class="scrumdo-btn secondary" ng-disabled="taskForm.$invalid || taskForm.$pristine" ng-click="ctrl.save()">Save</button>
        <button class="scrumdo-btn primary" ng-click="$dismiss('canceled')">Cancel</button>
    </div>
</form>