//------------------------------
// *****************************
// Accordion
// *****************************
//------------------------------

.scrumdo-panel {
  @extend .panel;

  &.primary {
    border: 1px solid #dddddd;
    border-top: none;
    background: #f5f5f5;
    border-radius: 0;
    margin: 0;
    &:first-child {
      border-top: 1px solid #dddddd;
    }

    .scrumdo-panel-heading {
      background: #f5f5f5;
      padding: 15px;
      position: relative;
      @include clearfix();


      .epic-progress {
        position: absolute;
        left: -1px;
        top: -2px;
        right: -1px;
        height: 2px;
        .progress {
          border-radius: 0px;
          height: 2px;
          .progress-bar {
            height: 2px;
            box-shadow: none;
            &.progress-bar-warning {
              background-color: #DDDDDD;
            }
          }
        }
      }

    }
    .scrumdo-panel-title {
      font-family: $font-family-roboto-bold;
      font-size: 14px;
      padding: 0;
      margin: 5px 0;

      > a {
        position: relative;
        display: inline-block;
        color: #3b3b3b;
        padding-left: 15px;

        &:hover, &:focus {
          text-decoration: none;
        }

        &:before {
          position: absolute;
          left: 0;
          top: 3px;
          content: " ";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 6px 0 6px;
          border-color: #3b3b3b transparent transparent transparent;
        }

        &.collapsed:before {
          border-width: 6px 0 6px 10px;
          border-color: transparent transparent transparent #3b3b3b;
        }
      }

    }

    .scrumdo-panel-body {
      background: #f9f9f9;
      border-top: 1px solid #dddddd;
      padding: 15px;
    }
  }

  &.secondary {
    border: 1px solid #d8d8d8;
    background: #fafafa;
    border-radius: 2px;
    margin: 0 0 10px 0;

    .scrumdo-panel-heading {
      position: relative;
      background: #fafafa;
      padding: 10px 15px;
      @include clearfix();
    }

    .scrumdo-panel-title {
      padding: 0;
      margin: 5px 0;

      > a {
        display: block;
        color: #666666;
        font-size: 14px;
        font-family: $font-family-roboto-bold;

        &:hover, &:focus {
          text-decoration: none;
        }

        &:before {
          position: absolute;
          right: 20px;
          top: 17px;
          content: " ";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 10px 6px;
          border-color: transparent transparent #bbbbbb transparent;
        }

        &.collapsed:before {
          border-width: 10px 6px 0 6px;
          border-color: #bbbbbb transparent transparent transparent;
        }
      }

    }

    .scrumdo-panel-body {
      background: #ffffff;
      padding: 15px;
    }
  }

}