<div class="scrumdo-select scrumdo-input-group-extended dropdown" uib-dropdown>
    <div class="dropdown-toggle" uib-dropdown-toggle>
        <button type="button"
                class="scrumdo-btn dropdown-main-button primary extended scrumdo-select-button">
            <span ng-if="currentValue">{{currentValue.name}}</span>
            <span ng-if="null == currentValue">None Selected</span>
        </button>
        <div class="input-group-btn dropdown-button-container">
            <button type="button" class="scrumdo-btn primary dropdown-button" aria-expanded="false">
                <span class="glyphicon glyphicon-chevron-down"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
        </div>
    </div>
    <ul class="dropdown-menu scrumdo-dropdown dropdown-menu-left iteration-dropdown" uib-dropdown-menu role="menu">
        <li ng-repeat="project in projects">
            <a ng-class="{'selected-option':(project==currentValue)}"
               ng-click='ctrl.select($event, project)' href='#'>
                {{project.name}}
            </a>
        </li>
    </ul>
</div>
