<div id="safe-project-select" class="scrumdo-select scrumdo-input-group-extended dropdown sub-nav-drop action-1 hidden-sm hidden-xs"
     is-open="spdctrl.menuOpen"
     uib-dropdown>
    <div class="dropdown-toggle safe-project-dropdown-toggle" ng-click="spdctrl.toggleMenu($event)">
        <button type="button"
                class="scrumdo-btn dropdown-main-button primary extended scrumdo-select-button">
            <span style="color: {{project.color|decimalToHexColor}}" class="fa {{project.icon}}"></span>
            <span>{{ project.name | shorttext:true:30}}</span>
        </button>
        <div class="input-group-btn dropdown-button-container">
            <button type="button" class="scrumdo-btn primary dropdown-button" aria-expanded="false">
                <span class="glyphicon glyphicon-chevron-down"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
        </div>
    </div>
    <div ng-if="spdctrl.menuOpen" ng-class="alignment" class="dropdown-menu scrumdo-dropdown safe-project-dropdown" uib-dropdown-menu role="menu">
        <dropdown-filter ng-if="projectList.length>0" ng-model="spdctrl.filterQuery"></dropdown-filter>
        <ul ng-if="spdctrl.menuOpen" class="project-list-holder">
            <li ng-if="spdctrl.matchFound()">
                <a href="" ng-click="spdctrl.doNothing($event)" class="project-category"><span>Workspaces</span></a>
            </li>
            <li ng-show="spdctrl.filteredItems[cat].length > 0" 
                ng-repeat="(cat, projects) in spdctrl.userService.safeProjectList.nonportfolio.projects | orderProjectByCat:false">
                <a href="" ng-if="projects[0].category.length > 0 && spdctrl.filteredItems[cat].length > 0" 
                    ng-click="spdctrl.doNothing($event)" class="project-category"><span>
                    {{:: projects[0].category | shorttext:true:20}}</span></a>
                <ul>
                    <li class="check_{{project.slug}}" 
                        ng-repeat="project in spdctrl.filteredItems[cat] = (projects | orderBy:'name' | filter:spdctrl.doFilterQuery)">
                        <a ng-click="spdctrl.selectProject($event, project)"
                           ng-class="{'selected-option': spdctrl.isCurrentProject(project)}">
                            <span class="project-icon" style="color: {{project.color|decimalToHexColor}}">
                                <i class="fa" ng-class="project.icon"></i></span>
                            <span>{{ project.name | shorttext:true:30}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show="spdctrl.filteredItems[key].length > 0" ng-repeat="(key, projects) in spdctrl.userService.safeProjectList.portfolio">
                <ul>
                    <li class="check_{{project.slug}}" ng-repeat="project in spdctrl.filteredItems[key] = (projects | filter:spdctrl.filterRoot(key))"
                        ng-if="project.isPortfolio"
                        ng-class="{'portfolio-project': project.isPortfolio}">
                        <a ng-click="spdctrl.selectProject($event, project)"
                           ng-class="{'selected-option': spdctrl.isCurrentProject(project)}">
                            <span class="project-icon" style="color: {{project.color|decimalToHexColor}}">
                                <i class="fa" ng-class="project.icon"></i></span>
                            <span>{{ project.name | shorttext:true:30}}</span>
                        </a>
                    </li>
                    <li class="check_{{project.slug}}" ng-repeat="project in spdctrl.filteredItems[key] = (projects | filter:spdctrl.doFilterQuery)"
                        ng-if="!project.isPortfolio"
                        ng-class="{'portfolio-project': project.isPortfolio}">
                        <a ng-click="spdctrl.selectProject($event, project)"
                           ng-class="{'selected-option': spdctrl.isCurrentProject(project)}">
                            <span class="project-icon" style="color: {{project.color|decimalToHexColor}}">
                                <i class="fa" ng-class="project.icon"></i></span>
                            <span>{{ project.name | shorttext:true:30}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
