<div class="cards-header feature-card list">
    <span ng-if="project.prefix" class="cards-number">{{project.prefix}}-{{story.number}}&nbsp;</span>
</div>

<div ng-click="ctrl.loadFeatureStories()" uib-popover-template="ctrl.popoverTemplate" 
    popover-placement=' auto right-bottom' popover-trigger='outsideClick' class="card-footer">
    <div class="feature-progress" ng-if="ctrl.releaseStats[story.id].cards_total>0">
        <uib-progress max="100" animate="false">
            <uib-bar value="ctrl.percentage(ctrl.releaseStats[story.id].cards_completed, ctrl.releaseStats[story.id].cards_total)" type="success"></uib-bar>
            <uib-bar value="ctrl.percentage(ctrl.releaseStats[story.id].cards_in_progress, ctrl.releaseStats[story.id].cards_total)"></uib-bar>
            <uib-bar value="ctrl.todoPercentage(ctrl.releaseStats[story.id])" type="warning"></uib-bar>
        </uib-progress>
    </div>
</div>