<ul class="cards-tag">
    <li ng-repeat="label in story.labels"
        ng-style="{'background-color': (label.color|decimalToHexColor) }"
        uib-tooltip="{{label.name}}"
        tooltip-placement="bottom"
        tooltip-trigger="mouseenter"></li>
</ul>
<div class="cards-header">
    <span class="cards-number">{{::project.prefix}}-{{::story.number}}&nbsp;</span>

    <span ng-click="ctrl.onEdit()" class="glyphicon glyphicon-pencil cards-edit pull-right" ng-class="{'glyphicon-eye-open': !ctrl.canWrite}"></span>


    <span class="cards-text" ng-bind-html="story.summary|to_trusted"></span>

</div>


<sd-task-grid user="user" project="project" story="story"></sd-task-grid>

<div>
    <div class="cards-details">
        <ul class="cards-information pull-left">
            <li ng-if="story.points !='?'">
                <span class="labels label-tag-orange">{{story.points}}</span>
            </li>

            <li ng-if="story.points_value == 0 && story.estimated_minutes>0">
                <span class="labels label-tag-dullpurple">{{story.estimated_minutes|formatMinutes}}</span>
            </li>

            <li>
                <span class="cards-comments-info"><span ng-if="story.comment_count > 0">{{story.comment_count}}</span> </span>
            </li>

            <li class="cards-external" ng-if="story.has_external_links">
                <a ng-click="ctrl.openExternalLink()"><i class="fa fa-github"></i> </a>
            </li>

            <li sd-due-date ng-if="story.due_date" class="due-date" story="story"></li>
        </ul>


        <div class="cards-users pull-right"
             tooltip-placement="bottom"
             tooltip-html-unsafe="{{ ctrl.assigneeTooltip }}"
             tooltip-trigger="mouseenter">
            <span ng-if="story.assignee.length > 1" class="cards-users-number">{{story.assignee.length}}</span>
            <ul class="cards-users-images">
                <li ng-repeat="user in story.assignee"><sd-user-portrait size="30" user="user"></sd-user-portrait>
                </li>
            </ul>
        </div>

    </div>

    <sd-age-display story="::story" display="::project.aging_display" warning="::project.warning_threshold" critical="::project.critical_threshold"></sd-age-display>

    <div class="cards-badges-wrapper" >
        <span ng-class="ctrl.tagClass(tag)" ng-repeat="tag in story.tags_list track by ctrl.trackByTagIdName($index, tag)" class="badges primary normal-view">#{{::tag}}</span>
    </div>
</div>

