<ul class="cards-tag">
    <li ng-repeat="label in story.labels"
        ng-style="{'background-color': (label.color|decimalToHexColor) }"
        uib-tooltip="{{label.name}}"
        tooltip-placement="bottom"
        tooltip-trigger="mouseenter"></li>
</ul>

<div class="cards-content">
    <span class="cards-number">{{::project.prefix}}-{{::story.number}}&nbsp;</span>
    <div class="cards-text" sd-link-catcher ng-bind-html="story.summary|to_trusted"></div>
</div>

<div>
    <ul class="cards-information pull-left">
        <li class="cards-external" ng-if="story.has_external_links">
            <a ng-click="ctrl.openExternalLink()"><i class="fa fa-github"></i> </a>
        </li>
    </ul>
</div>