<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('canceled')" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Delete Cells</h3>
</div>


<div class="modal-body">
    <div ng-if="ctrl.cellsMinusDeleted.length == 0">
        <p>
            When you delete a cell, the cards in it will be moved to a default cell and any reporting
            history for that cell will be lost.
        </p>
    </div>

        <div ng-if="ctrl.cellsMinusDeleted.length > 0">
        <p>When you delete a cell, we can move any cards that were in that cell into a different cell.  This will
        also move any reporting history over to that new cell.
        </p>

        <p>Pick a cell to move it to, or delete this cell
        without moving.</p>

        <hr/>

        <sd-cell-picker cells="ctrl.cellsMinusDeleted"
                        headers="ctrl.boardProject.boardHeaders"
                        selected-cells="ctrl.selectedCells"></sd-cell-picker>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="scrumdo-btn secondary" ng-click="ctrl.confirmDelete()">Delete</button>
    <button class="scrumdo-btn primary" ng-click="$dismiss('canceled')">Cancel</button>
</div>
